<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="معدودات"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ويدجت المتبقي -->
        <receiver
            android:name=".RemainingWidget"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <!-- تغيير التاريخ -->
                <action android:name="android.intent.action.DATE_CHANGED" />

                <!-- تغيير ساعة الجهاز -->
                <action android:name="android.intent.action.TIME_SET" />

                <!-- تغيير المنطقة الزمنية -->
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <!-- تحديث الويدجت الخاص بنا -->
                <action android:name="com.numbered.app.action.REMAINING_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_remaining_info" />

        </receiver>

        <!-- ويدجت الذكر -->
        <receiver
            android:name=".DhikrWidget"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_dhikr_info" />

        </receiver>

    </application>

</manifest>